$red: #9d261d
$blue: #08c

body
  padding-top: 40px
  padding-bottom: 40px

header
  margin:
    bottom: 36px
  h1
    font-size: 60px
    letter-spacing: -1px
    line-height: 60px
  a
    &:active, &:hover, &:link
      text-decoration: none

.command
  color: $red
  font:
    size: 18px
    weight: bold

ul.accounts
  margin:
    bottom: auto
    top: auto
  li
    display: inline-table
    margin:
      right: 6px
    line-height: 60px
    vertical-align: middle

    &.account
      width: 18px

.about-me
  h2, h3
    padding-bottom: 9px
    font-weight: normal
  em
    font-weight: bold

footer
  text-align: center

.content
  .row
    margin-bottom: 36px

hr
  background: inherit
  border:
    top: 1px solid #AAA
    bottom: none

.callout
  p
    font-size: 16px
    line-height: 24px

h2
  a
    &:active, &:hover, &:link
      text-decoration: none

.bss-icon
  font-size: 28px
  line-height: 60px

li.account
  a
    &:link  /* unvisited */
      color: black
    &:visited
      color: black
    &:hover
      color: $blue
    &:active /* selected */
      color: $red
